In [1]:
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.12.0)

In [0]:
import textblob

In [3]:
!pip install gensim

Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.16.4)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.12.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.3.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim) (1.8.4)
Requirement already satisfied: boto>=2.32 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.49.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (2.21.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from smart-open>=1.2.1->gensim) (1.9.189)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart-open>=1.2.1->gensim) (1.24.3)
Requirement already satisfied: s3transfer<0.3.0,>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.2.1)
Requirement already satisfied: botocore<1.13.0,>=1.12.189 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (1.12.189)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->smart-open>=1.2.1->gensim) (0.9.4)
Requirement already satisfied: docutils>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.189->boto3->smart-open>=1.2.1->gensim) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.189->boto3->smart-open>=1.2.1->gensim) (2.5.3)

In [0]:
from textblob import TextBlob

In [0]:
p="It's a raining very heavily in Mumbai. RainFall in India is High"

In [0]:
blob = TextBlob(p)

In [25]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [26]:
blob.sentences[0]

Sentence("It's a raining very heavily in Mumbai.")

In [19]:
blob.sentiment

Sentiment(polarity=-0.05, subjectivity=0.595)

In [0]:
p2="Analytics Vidhya is a great platform to learn data science."

In [0]:
blob = TextBlob(p2)

In [35]:
blob.sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [36]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [37]:
blob.tags

[('Analytics', 'NNS'),
 ('Vidhya', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('great', 'JJ'),
 ('platform', 'NN'),
 ('to', 'TO'),
 ('learn', 'VB'),
 ('data', 'NNS'),
 ('science', 'NN')]

In [39]:
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

True

In [40]:
for x in blob.noun_phrases:
  print(x)

analytics vidhya
great platform
data science

In [0]:
from textblob import Word

In [0]:
w=Word('Platform')

In [43]:
w.pluralize()

'Platforms'

In [46]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
w=Word('running')

In [48]:
w.lemmatize()

'running'

In [51]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("/content/gdrive/My Drive/NLP-Jose_Portilla/spam.csv",encoding='ISO8859')

In [57]:
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [0]:
data=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],1)

In [59]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
import pandas as pd
import nltk
import spacy
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.stem import LancasterStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
ls = LancasterStemmer()

In [62]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [63]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
stuff_to_be_removed = list(stopwords.words("english"))+list(punctuation)

In [0]:
corpus=data['v2'].tolist()

In [0]:
def prepross(s):
  words = s.lower()
  #print(words)
  words = word_tokenize(words)
  #print(words)
  words = [x for x in words if x not in stuff_to_be_removed]
  #print(words)
  words = [ls.stem(x) for x in words]
  words = [" ".join(words)]
  return words

In [0]:
final=[]
for i in range(len(corpus)):
  z= prepross(corpus[i])
  final.append(z)

In [0]:
new_df = pd.DataFrame(final)

In [71]:
new_df.head(4)

                                                   0
0  go jurong point crazy.. avail bug n gre world ...
1                        ok lar ... jok wif u on ...
2  fre entry 2 wkly comp win fa cup fin tkts 21st...
3          u dun say ear hor ... u c already say ...

In [0]:
new_df['v1'] = data['v1']

In [0]:
new_df

In [0]:
new_df.columns = ['Msg','sentiment']

In [75]:
new_df.head(4)

                                                 Msg sentiment
0  go jurong point crazy.. avail bug n gre world ...       ham
1                        ok lar ... jok wif u on ...       ham
2  fre entry 2 wkly comp win fa cup fin tkts 21st...      spam
3          u dun say ear hor ... u c already say ...       ham

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [0]:
vector = tfidf.fit_transform(new_df['Msg'])

In [0]:
final1=pd.DataFrame(vector.toarray())

In [0]:
y=new_df['sentiment']

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
model = GaussianNB()

In [0]:
from sklearn.model_selection import train_test_split as tts

In [84]:
X_train, X_test, y_train, y_test = tts(final1,y,test_size=0.3,random_state=0)
X_train.shape, X_test.shape

((3900, 6986), (1672, 6986))

In [85]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [0]:
pred =model.predict(X_test)

In [88]:
accuracy_score(pred,y_test)

0.8606459330143541

In [0]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
ada = AdaBoostClassifier(RandomForestClassifier(max_depth=4,n_estimators=500),n_estimators=300, random_state=42)
ada.fit(X_train,y_train)

In [0]:
pred =model.predict(X_test)

In [0]:
accuracy_score(pred,y_test)