# NLP ASSIGNMENT_2ND AUG - PART 1

Using Random Forest to classify the messages

# DATA

In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("G:/SEM 3 DATA SCIENCE/NLP")

In [2]:
df3 = pd.read_csv("May_2018.csv", encoding = 'ISO-8859-1')
df1 = pd.read_csv("Feb_2018.csv", encoding = 'ISO-8859-1')
df2 = pd.read_csv("June_2018.csv", encoding = 'ISO-8859-1')

CLEANING DATA : REMOVING DUPLICATES AND NA VALUES

In [3]:
def clean(df):
    df = df[["Message", "Sentiment"]]
    df.drop_duplicates(subset=["Message"], inplace=True)
    df = df.dropna()
    return df

In [4]:
df1s = clean(df1)
df2s = clean(df2)
df3s = clean(df3)

C:\Users\Devyani\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

 # PREPROCESSING THE DATA

In [5]:
from nltk.corpus import stopwords
from string import punctuation
stuff_to_be_removed = list(stopwords.words("english"))+list(punctuation)
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()
import nltk
words = set(nltk.corpus.words.words())

In [6]:
# TOKENIZING AND LEMMATIZING THE DATA
def tokenize(s):
    s = s.lower()
    text = nltk.tokenize.word_tokenize(s)
    text = [t for t in text if len(t) > 2]
    text = [lemmatizer.lemmatize(y) for y in text if y not in stuff_to_be_removed]
    text = [t for t in text if not any (c.isdigit() for c in t)]
    return text

In [7]:
def clean_text(df,column1,column2):
   df = df[[column1,column2]]
   text = df[column1].tolist()
   cleaned_text = []
   for x in text:
       cleaned_text.append(tokenize(x))
   joined_text =[]
   for x in cleaned_text:
       joined_text.append(' '.join(x))
   df1 = pd.DataFrame({'Message':joined_text})
   df1["Sentiment"] = pd.Series(df[column2].tolist())
   df1["Sentiment"] = df1["Sentiment"].str.lower()
   return df1

In [8]:
df_1 = clean_text(df1s, "Message", "Sentiment")
df_2 = clean_text(df2s, "Message", "Sentiment")
df_3 = clean_text(df3s, "Message", "Sentiment")

In [10]:
df_1 = clean(df_1)
df_2 = clean(df_2)
df_3 = clean(df_3)

In [11]:
data = pd.concat([df_1, df_2, df_3])
data = data.reset_index(drop=True)
data.head()

                                             Message Sentiment
0  dear prema latha order shipped logistics partn...   neutral
1                          blouse sareey satisfy ...   neutral
2                         problem today iam received  negative
3                                     skipped blouse   neutral
4                                             superb   neutral

In [12]:
data["Sentiment"].value_counts()

neutral     18368
positive     4767
negative     1685
Name: Sentiment, dtype: int64

In [13]:
# LABEL ENCODING
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["Sentiment"] = le.fit_transform(data["Sentiment"])
data.head()

                                             Message  Sentiment
0  dear prema latha order shipped logistics partn...          1
1                          blouse sareey satisfy ...          1
2                         problem today iam received          0
3                                     skipped blouse          1
4                                             superb          1

TF - IDF VALUES

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [15]:
vector= tfidf.fit_transform(data["Message"])

In [16]:
vector.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

X-TRAIN, Y-TRAIN, X-TEST, Y-TEST SPLIT

In [29]:
X = vector.toarray()
y = data["Sentiment"]

In [67]:
df_1.shape[0] + df_2.shape[0]

12915

In [68]:
df_1.shape[0] + df_2.shape[0] + df_3.shape[0]

24820

In [59]:
X_train = X[0:12915 ,:]
y_train = y[0:12915]

In [60]:
X_test = X[12915:24821 ,:]
y_test = y[12915:24821]

# MODEL - Random Forest Classifier

Balanced Class Weights(To remove class imbalance)

In [63]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
rfc = RandomForestClassifier(class_weight= "balanced")

rfc.fit(X_train, y_train)

C:\Users\Devyani\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=None, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [64]:
y_pred = rfc.predict(X_test)
print (classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.72      0.42      0.53       748
           1       0.90      0.95      0.92      9064
           2       0.81      0.74      0.78      2093

   micro avg       0.88      0.88      0.88     11905
   macro avg       0.81      0.70      0.74     11905
weighted avg       0.87      0.88      0.87     11905